::deep td {
    white-space: nowrap;
    max-width: 310px;

}

::deep .mud-tooltip-root{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep .mud-table-cell{
    padding: 4px 8px !important;
}