/* Fix height and enable scrolling */
.grid {
    height: calc(100vh - 74px);
    overflow-y: auto;
}

    .grid ::deep table {
        min-width: 100%;
    }

/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--fill-color);
    font-size: 11px;
}

::deep button.col-title, ::deep button.col-options-button {
    color: var(--accent-foreground-rest);
}
::deep button.col-options-button {
    filter: contrast(0);
}

    ::deep table.loading tbody tr:empty:first-child:before {
    content: 'Loading...';
    position: absolute;
}

::deep table:not(.loading) tbody tr:empty:first-child:before {
    content: 'No items found';
    position: absolute;
}

::deep table tbody td, ::deep thead th {
    white-space: nowrap;
    text-overflow: ellipsis;
    --size: 250px;
    min-width: var(--size);
    max-width: var(--size);
    overflow: hidden;
}

::deep thead th {
    overflow: initial;
}

    ::deep tbody td:first-child, ::deep thead th:first-child {
        background-color: var(--fill-color);
        position: sticky;
        left: 0;
        z-index: 1;
        --size: 52px;
        padding:0 !important;
        min-width: var(--size);
        max-width: var(--size);
        width: var(--size);
    }

::deep tbody td {
    padding-left: 2px !important;
    padding-right: 4px !important;
    border-bottom: 1px dotted var(--fill-color);
    border-right: 1px dotted var(--fill-color);
    line-height: 1;
}

::deep .paginator {
    margin-top: 0 !important;
}