td, th {
    border-width: 1px;
    border-color: var(--neutral-layer-1);
    border-style: solid;
    padding: 0 2px;
}

::deep td p, ::deep th p {
    font-size: 11px !important;
    white-space: nowrap
}


.result-sets {
    display: flex;
    height: 100%;
    overflow: hidden;
    flex-flow: column;
}

.result-sets > div{
    overflow: auto;
    flex: 1;
    border-bottom: 1px solid var(--neutral-layer-1);
}

.result-sets > div:last-child{
    border-bottom: none;
}

.result-sets > table{
    height: 100%;
}