@using Cblx.Dynamics.Explorer.Client.Components
@using Microsoft.Fast.Components.FluentUI
@using Microsoft.Fast.Components.FluentUI.DesignTokens
@inherits LayoutComponentBase
@* <MudThemeProvider IsDarkMode="true" /> *@
@* <MudDialogProvider />
<FluentDesignSystemProvider BaseLayerLuminance="0">
    <FluentDialogProvider />
    <MudLayout>
        <AppBarAndDrawer />
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</FluentDesignSystemProvider> *@
<FluentDesignSystemProvider BaseLayerLuminance="0.15f">
    <FluentDialogProvider />
    <FluentMainLayout NavMenuTitle="Navigation menu" HeaderHeight="0" Style="background-color: var(--neutral-layer-3)">
        <SubHeader>
            <FluentToolbar Style="min-height: 60px; max-height: 60px;">
                <SectionOutlet SectionName="app-bar-content"></SectionOutlet>
            </FluentToolbar>
        </SubHeader>
        <Body>
            <div style="height: calc(100vh - 68px)">
                @Body
            </div>
        </Body>
        <NavMenuContent>
            <NavMenu />
        </NavMenuContent>
    </FluentMainLayout>
</FluentDesignSystemProvider>