@using Cblx.Dynamics.Explorer.Client.Components
@using Microsoft.Fast.Components.FluentUI
@inherits LayoutComponentBase
<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<FluentDesignSystemProvider BaseLayerLuminance="0">
    <FluentDialogProvider />
    <MudLayout>
        <AppBarAndDrawer />
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</FluentDesignSystemProvider>
@* <FluentDesignSystemProvider BaseLayerLuminance="0">
    <FluentMainLayout NavMenuTitle="Navigation menu" HeaderHeight="0">
        <Body>
            @Body
        </Body>
        <NavMenuContent>
            <FluentNavMenuLink Href="/" Text="Home" />
            <NavMenu />
        </NavMenuContent>
    </FluentMainLayout>
</FluentDesignSystemProvider>
 *@