@using Cblx.Dynamics.Explorer.Client.Components
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <link href="_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <link href="Cblx.Dynamics.Explorer.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.44.0/min/vs/editor/editor.main.min.css" integrity="sha512-eubffMYOzstZjQgYykD480h5N6jKsfDjRxHz1IjdZoaPkXZZnWr2WT/QDr+k35b2tUbafYWlM1gkgD4UOOtuTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        window.initEr = () => {
            const diagram = document.querySelector('#mermaid');
            const maxWidth = parseInt(diagram.style.maxWidth.replace('px', ''));
            let scale = maxWidth / 1000;
            if (scale < 1) { scale = 1; }
            diagram.style.display = 'block';
            diagram.style.height = '100vh';
            diagram.style.width = '100%';
            diagram.style.overflow = 'scroll';
            diagram.style.transform = `scale(${scale})`
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@9.3.0/dist/mermaid.min.js" integrity="sha384-UFKTpBFnbiXQk3or094iG5Tu+m8KFgRJzH3MW1yS/hk+JstXEc9xhyT38erH95Zk" crossorigin="anonymous"></script>
    <HeadOutlet />
</head>

<body>
    <ClientRoutes/>
    <script src="_framework/blazor.web.js"></script>
    <script src="monaco-editor/min/vs/loader.js"></script>
    <script>
        require.config({ paths: { vs: 'monaco-editor/min/vs' } });
        // require(['vs/editor/editor.main'], function () {
        //     var editor = monaco.editor.create(document.getElementById('container'), {
        //         value: ['function x() {', '\tconsole.log("Hello world!");', '}'].join('\n'),
        //         language: 'javascript'
        //     });
        // });
    </script>
</body>

</html>
